*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #047470;
    color: #eee;
    font-family: Verdana;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    gap: 25px;
    justify-content: center;
    text-align: center;
}

h1{
    font-size: 40px;
}

.quadrado{
    background-color: #eee;
    cursor: pointer;
    display: inline-block;
    font-size: 50px;
    margin: 5px;
    padding: 35px;
    width: 50px;
}

#jogador{
    font-size: 25px;
    margin-top: 20px;
}

button{
    background-color: #eee;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    padding: 10px 20px;
}

footer{
    display: flex;
    background-color:#003130;
    align-items: center;
    justify-content: center;
    height: 3em;
    gap: 4em;
    width: 100%;
}

footer p, a{
    color: white;
    text-decoration: none;
}